*,
*:before,
*:after {
  box-sizing: border-box;
  outline-style: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  background: url("/img/back.png") no-repeat, #000;
  background-size: auto 800px;
  background-position: left top;
  overflow-x: hidden;
  margin: auto;
  height: 100%;
  max-width: 100%;
  display: flex;
  font-family: "Roboto Slab", serif, "Baloo Tamma 2", cursive;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper .content {
  flex: 1 0 auto;
}

#app {
  width: 100%;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.slide-left-enter-active,
.slide-left-leave-active {
  transition: all 0.3s;
}

.slide-left-enter,
.slide-left-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.slide-right-enter-active,
.slide-right-leave-active {
  transition: all 0.3s;
}

.slide-right-enter,
.slide-right-leave-to {
  opacity: 0;
  transform: translateX(-30px);
}

.slide-top-enter-active,
.slide-top-leave-active {
  transition: all 0.3s;
}

.slide-top-enter,
.slide-top-leave-to {
  opacity: 0;
  transform: translateY(30px);
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
  transition: all 0.3s;
}

.slide-bottom-enter,
.slide-bottom-leave-to {
  opacity: 0;
  transform: translateY(-50px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.header__box {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  max-width: 500px;
  width: 100%;
}

.header__sign-in {
  display: flex;
  align-items: center;
  position: relative;
}

.header__sign-in .line {
  height: 20px;
  margin: 0 10px;
  border-left: 1px solid #999;
}

.header__sign-in-btn {
  font-family: "Baloo Tamma 2";
  color: white;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  transition: color 0.3s;
}

.header__sign-in-btn:hover {
  color: #999;
}

.header__btn-search {
  color: #fff;
  transition: color 0.3s;
}

.header__btn-search:hover {
  color: #999;
}

.header__logout {
  top: 25px;
  right: -30px;
  position: absolute;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

.header__logout a,
.header__logout button {
  font-family: "Baloo Tamma 2", cursive;
  color: black;
  font-size: 14px;
}

.footer {
  flex: 0 0 auto;
  margin-top: 20px;
}

.footer__box {
  background: #000;
  padding: 10px 20px;
}

.footer__rights {
  font-family: "Baloo Tamma 2";
  color: #999;
  font-size: 11px;
  line-height: 13px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__item {
  text-transform: uppercase;
  transition: color 0.3s;
}

.menu__item:hover {
  color: #999;
}

.menu .active {
  color: #b88b58;
}

.index__box {
  padding: 30px;
  background: #f2f2f2;
  border-radius: 30px;
  text-align: center;
}

.index__news {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.index__news a:nth-child(3n-1) {
  margin: 0 12px 20px 12px;
}

.about {
  font-family: "Baloo Tamma 2";
}

.about__box {
  padding: 30px;
  background: #fff;
  border-radius: 30px;
}

.about__logo {
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 10px;
  color: #b88b58;
  text-transform: uppercase;
}

.about__title--1 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 25px;
}

.about__title--2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 16px;
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 60%;
}

.about__text {
  font-family: "Roboto Slab";
  font-size: 16px;
  line-height: 30px;
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 60%;
  padding-left: 30px;
}

.about__text span {
  border-bottom: 1px solid #b88b58;
}

.contacts__map {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.contacts__line {
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}

.contacts__media {
  display: flex;
  align-items: center;
}

.contacts__media .line {
  height: 20px;
  border-right: 1px solid;
  margin: 0 20px;
}

.contacts__media .fa-facebook-square {
  color: #304591;
}

.contacts__media .fa-vk {
  color: #527397;
}

.contacts__media .fa-odnoklassniki {
  color: #eb722e;
}

.contacts__media .fa-twitter {
  color: #31adf4;
}

.contacts__media .fa-telegram {
  color: #2ba5e0;
}

.contacts__media .fab:hover {
  opacity: 0.5;
}

.error {
  height: 100%;
  width: 100%;
  background: #999999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error a {
  margin-left: 10px;
}

.error-text {
  color: #ff0000;
  font-size: 9px;
  margin-bottom: 5px;
}

.category__box {
  padding: 30px;
  background: #f2f2f2;
  border-radius: 30px;
}

.category__flex {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.category__flex a:nth-child(3n-1) {
  display: block;
  margin: 0 12px 20px 12px;
}

.category__title {
  padding: 30px;
  background: #f2f2f2;
  border-radius: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
}

.category__title span {
  font-family: "Baloo Tamma 2", cursive;
  color: #b88b58;
}

.single__title {
  margin-bottom: 30px;
  font-weight: 800;
  font-family: "Baloo Tamma 2", cursive;
  font-size: 30px;
  text-transform: uppercase;
}

.single__content {
  max-width: 300px;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  margin-top: 20px;
}

.single .empty {
  font-family: "Baloo Tamma 2", cursive;
  font-size: 20px;
}

.create__box {
  padding: 30px;
  background: #f2f2f2;
  border-radius: 30px;
}

.create__ok {
  text-align: center;
  margin-bottom: 30px;
  color: lightgreen;
}

.form-add {
  width: 50%;
  margin: 0 auto;
}

.form-add__flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.form-add__flex .form-add__btn {
  margin-left: 0;
}

.form-add__link {
  font-size: 12px;
  line-height: 14px;
  color: #999;
}

.form-add__text {
  font-size: 12px;
  line-height: 14px;
  color: #b88b58;
}

.form-add__input {
  border: 1px solid #b88b58;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 30px;
  margin-bottom: 20px;
  width: 100%;
  resize: none;
  font-family: "Baloo Tamma 2", cursive;
}

.form-add__btn {
  display: block;
  padding: 10px 20px;
  border-radius: 10px;
  background: #b88b58;
  border: 2px solid #b88b58;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  margin-left: auto;
  transition: all 0.3s;
}

.form-add__btn:hover {
  background: none;
  color: #b88b58;
}

.form-add__select {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #b88b58;
  border-radius: 30px;
  font-family: "Baloo Tamma 2", cursive;
  text-transform: capitalize;
}

.admin__box {
  padding: 30px;
  background: #f2f2f2;
  border-radius: 30px;
  text-align: center;
}

.admin__link {
  display: block;
  color: #b88b58;
  transition: all 0.3s;
  margin-bottom: 30px;
  font-size: 25px;
}

.admin__link:hover {
  color: #999;
}

.admin-news {
  padding: 20px;
  border-radius: 30px;
  border: 1px solid #999;
  min-width: 350px;
  max-width: 350px;
  height: 250px;
  margin-bottom: 20px;
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.admin-news__title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}

.admin-news__content {
  text-align: left;
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.admin-news .delete {
  display: block;
  margin-left: auto;
  color: #000;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 20px;
  top: 15px;
}

.admin-news .change {
  margin: 0 auto;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #b88b58;
  border: 2px solid #b88b58;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 20px;
  transition: all 0.3s;
}

.admin-news .change:hover {
  background: #fff;
  color: #b88b58;
}

.change__box {
  padding: 30px;
  background: #f2f2f2;
  border-radius: 30px;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}

.change__box .admin-news:nth-child(3n-1) {
  margin: 0 12px 20px 12px;
}

.users__email {
  font-size: 17px;
  font-family: "Baloo Tamma 2", cursive;
}

.users__status {
  font-size: 10px;
  margin: 0;
  color: #999;
  margin-bottom: 5px;
}

.users__btn {
  margin-bottom: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  background: #b88b58;
  color: #fff;
}

.news {
  width: 350px;
  height: 400px;
  border-radius: 10px;
  background: #fff;
  border: 1px solid #e1e1e1;
  cursor: pointer;
  margin-bottom: 20px;
}

.news__img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 200px;
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
}

.news__content {
  padding: 10px;
}

.news__category {
  color: #b88b58;
  text-align: left;
  text-transform: uppercase;
  font-family: "Baloo Tamma 2";
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 14px;
}

.news__title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
  text-align: left;
  color: #000;
}

.news__text {
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.modal {
  max-width: 570px;
  width: 100%;
  margin: auto;
  background: #fff;
  box-shadow: 0px 10px 20px rgba(34, 98, 170, 0.3);
  border-radius: 4px;
  padding: 40px 50px;
  position: relative;
}

.modal__bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 502;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal__container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
  display: flex;
}

.modal__container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.modal__content {
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 505;
  width: 100%;
}

.search__box {
  padding: 30px;
  background: #f2f2f2;
  border-radius: 30px;
  text-align: center;
  margin-top: 50px;
}

.search__input {
  width: 100%;
  padding: 20px;
  font-size: 30px;
  border-radius: 70px;
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
}

.search__categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search__categories a {
  font-family: "Baloo Tamma 2", cursive;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.search__categories a:hover {
  color: #999;
}

